**/__pycache__
**/*.pyc
**/.ipynb_checkpoints
**/*.slides.html
.idea
sympkf_*.tgz

# Documentation
sympkf/doc_sphinx/*

# test 
sandbox/

# build
build/
dist/
sympkf.egg-info/

# swap files
**/.*.swp
